<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">


    <table class="job-listing">
        <tr>
            <td><a th:text="${job.name}"></a></td>
        </tr>
        <tr>
            <td><a th:text="${job.employer}"></a></td>
        </tr>
        <tr>
            <td><a th:text="${job.location}"></a></td>
        </tr>
        <tr>
            <td><a th:text="${job.coreCompetency}"></a></td>
        </tr>
        <tr>
            <td><a th:text="${job.positionType}"></a></td>
        </tr>
    </table>

</div>

</body>
</html>